:root {
  --primary: rgb(81, 179, 209);
  --light: rgb(159, 232, 254);
  --background: rgb(8, 30, 63);
  --button: rgba(19, 60, 126);
  --global-img-border-radius: 25px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: content-box;
}

main {
  margin: 10vw;
  margin-top: 130px;
  /* box-sizing: content-box; */
  /*border: 3px solid gray;*/
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  background: var(--background);
  background-attachment: fixed;
}

h1 {
  font-size: 40px;
  color: var(--primary);
}

h2 {
  font-size: 35px;
  color: var(--primary);
}

h3 {
  font-size: 25px;
  color: var(--primary);
}

p {
  color: var(--primary);
  font-size: 22px;
  font-family: helvetica, sans-serif;
}

button {
  background: var(--button);
  /* border: 2px solid rgb(0, 0, 0); */
  color: var(--primary);
  border-radius: 50px;
  border-style: none;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24);
}

button:hover {
  transform: scale(1.02);
  box-shadow: 0 17px 50px 0 rgba(0,0,0,0.19);

}

@media only screen and (max-width: 700px) {
  .project-title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* NAVBAR */

#menu {
  background-color: rgb(8, 30, 63);
  margin: auto;
  align-items: center;
  position: fixed;
  top: 0; /* Stick it to the top of the viewport */
  left: 0; /* Stick it to the left side */
  width: 100%;
  z-index: 100;
  border-width: 1px;
  border-color: #51b3d1;
  border-bottom-style: solid;
}

#menu ul {
  display: flex;
  list-style: none;
  margin: auto;
  padding: 30px;
}
#menu a {
  text-decoration: none;
  color: rgb(81, 179, 209);
  font-size: 22px;
}

.allmenu ul {
  justify-content: space-between;
}

.allmenu {
  margin-left: 2vw;
  margin-right: 2vw;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-links-active {
  font-weight: bold;
}

.navbar-links li {
  margin-left: 40px;
}

#menu a:hover {
  font-weight: bold;
}

#logo {
  height: 20px;
}

/* #logo:hover {
  height: 23px;
} */

#user {
  height: 20px;
}

#hamburger-menu {
  height: 48px;
  display: none;
  top: 3px;
  left: 430px;
}

#hamburger-menu img {
  height: 40px;
}

@media screen and (max-width: 700px) {
  #hamburger-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 3vw;
    padding: 14px;
    cursor: pointer;
  }
  #hamburger-menu img:hover {
    height: 45px;
  }
  #menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #menu ul.active {
    display: flex;
  }
  .navbar-links {
    flex-direction: column;
    align-items: center;
  }

  .navbar-links li {
    margin-left: 0px;
    margin-top: 13px;
  }

  #menu ul:not(.active) {
    display: none;
  }
  #menu {
    max-height: 400px;
  }

  nav .nav-links {
    display: none; /* Hide the navigation links by default */
  }

  .active .nav-links {
    display: block; /* Show the navigation links when the menu is active */
  }
}

.login-form {
  margin-top: 10px;
}

.menu-icon {
  width: 30px; /* Adjust the size as needed */
  height: 30px;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .menu-icon {
    display: none; /* Hide the menu icon on larger screens */
  }
}


/* FOOTER */

#footer-container {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 200px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-icons{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-left: 330px;
  gap: 20px;
}

.footer-name p{
  color: var(--background);
  width: 310px;
  /* font-weight: bolder; */
  margin-right: 20px;
}

.footer-icons img{
  height: 35px;
}

@media screen and (max-width: 750px) { 
  #footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }
  .footer-icons{
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  

  .footer-name p{
    margin-right: auto;
  }
  
}




/* LANDING PAGE (HOME) */

#home-container {
  margin-top: 7vh;
}

.home-top-container {
  display: flex;
  height: 95vh;
  flex-direction: row;
  align-items: center;
}

.home-top-mainpic img {
  width: 60vw;
  height: 700px;
  object-fit: cover;
  object-position: top;
  border-radius: 0px 25px 25px 0px;
}

.home-top-intro {
  display: flex;
  width: 40vw;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 950px) { 
  .home-top-intro-after {
    display: none;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
  }
}

@media screen and (max-width: 950px) { 
  .home-top-intro {
    display: none;
  }

  .home-top-intro-after {
    margin-bottom: 30px;
  }

  .home-top-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
  }
  .home-top-intro-line {
    width: 100%;
  }
  .home-top-mainpic img{
    border-radius: var(--global-img-border-radius);
  }
}

#text2 {
  margin-top: 10px;
}

#text3 {
  margin-top: 30px;
}

.home-top-intro-line {
  border-top: 4px solid rgb(81, 179, 209);
  width: 80%;
  margin-top: 50px;
}

.home-top-intro-arrow {
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.home-top-intro-arrow:hover {
  transform: translateY(5px);
}

/* .home-aboutme-container {
  margin-top: 350px;
  padding: 0vw 10vw 0vw 10vw;
}

.home-aboutme-bottom {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.home-aboutme-text {
  width: 60%;
}

.home-aboutme-text h1{
  margin-bottom: 20px;
}

.home-aboutme-button button{
  min-width: 150px;
}

.home-aboutme-button {
  width: 20%;
  margin-top: 50px;
}
 */

.home-projects-container {
  margin-top: 150px;
}

.home-projects-container h1 {
  margin-left: 7vw;
}

.home-projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-projects-section h2 {
  margin-bottom: 40px;
}

.home-projects-section button {
  margin-top: 40px;
}

.home-projects-section-project1 {
  display: flex;
  flex-direction: row;
  width: 60%;
  min-width: 900px;
  gap: 50px;
  margin-top: 120px;
}

@media screen and (max-width: 950px) {
  .home-projects-section-project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .home-projects-container h1{
    text-align: center;
    margin: auto;
  
  }

  #projects {
    margin-top: 280px;
  }
}

.home-projects-section-project1 p{
  width: 400px;
}



.home-projects-section-project1-img {
  position: relative;
  width: 60%;
}

.home-projects-section-project3-img {
  position: relative;
  width: 60%;
}

.home-projects-section-project1-img img {
  object-fit: cover;
  width: 100%;
  border-radius: var(--global-img-border-radius);
  transition: opacity 0.3s ease-in-out;
}

.home-projects-section-project3-img img {
  object-fit: cover;
  width: 100%;
  height: 370px;
  border-radius: var(--global-img-border-radius);
  transition: opacity 0.3s ease-in-out;
}

.home-project-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1; /* Initially hide the overlay */
  background-color: rgba(0, 0, 0, 0.5); /* You can adjust the overlay color and opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  z-index: 1; /* Place the overlay on top of the image */
  transition: opacity 0.3s ease-in-out;
}

.home-project-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2; /* Place the text on top of the overlay */
  transition: opacity 0.3s ease-in-out;
  color: var(--light);
  font-size: 22px;
}

.home-projects-section-project1-img:hover .home-project-img{
  opacity: 0.2; /* Show the overlay and text on hover */
}

.home-projects-section-project3-img:hover .home-project-img{
  opacity: 0.2; /* Show the overlay and text on hover */
}

.home-projects-section-project1-img:hover .home-project-text {
  opacity: 1; /* Show the overlay and text on hover */
}

.home-projects-section-project3-img:hover .home-project-text {
  opacity: 1; /* Show the overlay and text on hover */
}






.home-projects-section-project2-img-after {
  width: 60%;
}

.home-projects-section-project2-img-after img {
  object-fit: cover;
  width: 100%;
  border-radius: var(--global-img-border-radius);
}

.home-projects-section-project1-desc {
  width: 40%;
  display: flex;
  flex-direction: column;
}


.home-projects-section-project1-desc-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-projects-section-project2 {
  display: flex;
  width: 60%;
  min-width: 900px;
  gap: 50px;
  margin-top: 120px;
}

@media screen and (min-width: 950px) {
  .home-projects-section-project2-img-after {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .home-projects-section-project2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home-projects-section-project2-img {
    display: none;
  }
}

.home-projects-section-project2-img {
  width: 60%;
}

.home-projects-section-project2 p{
  width: 420px;
}

.home-projects-section-project2-img img {
  object-fit: cover;
  width: 100%;
  border-radius: var(--global-img-border-radius);
}

.home-projects-section-project2-desc {
  width: 40%;
}

.home-projects-section-project2-desc-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-projects-section-project3 {
  display: flex;
  width: 60%;
  min-width: 900px;
  gap: 50px;
  margin-top: 120px;
}

@media screen and (max-width: 950px) {
  .home-projects-section-project3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}

.home-projects-section-project3-img {
  width: 60%;
}

.home-projects-section-project3-img img {
  object-fit: cover;
  width: 100%;
  border-radius: var(--global-img-border-radius);
}

.home-projects-section-project3-desc {
  width: 40%;
}

.home-projects-section-project3-desc-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-projects-section-project3 p{
  width: 400px;
}

.projects-more {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.projects-more button{
  width: 300px;
  height: 50px;
}

.home-projects-container h3 {
  margin-bottom: 20px;
}

.home-projects-project2-img-container:hover .home-project-text {
  opacity: 1; /* Show the overlay and text on hover */
}


/* ABOUT ME */

.aboutme-pic {
  height: 50vw;
  width: 30vw;
  max-height: 520px;
  max-width: 400px;
  min-width: 230px;
  object-fit: cover;
  border-radius: var(--global-img-border-radius);
}

.aboutme-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 70px;
}

.aboutme-text {
  max-width: 600px;
  font-size: 20px;
}


.cv-button{
  display: block;
  margin: 15px auto; /* Center the button horizontally with top margin */
  margin-top: 30px;
  text-decoration: none;
}

.cv-button a{
  text-decoration: none;
}


.cv-button a:link,
.cv-button a:visited {
  color: #51b3d1;
  text-decoration: none;
}




.aboutme-softskills-container{
  color: rgb(81, 179, 209);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.aboutme-softskills-container ul{
  margin-top: 20px;
}

.aboutme-softskills-container ul li{
  margin-bottom: 5px;
}

.techskills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.techskills-skills img {
  height: 100px;
  margin-top: 20px;
}

.aboutme-languages-container{
  color: rgb(81, 179, 209);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.aboutme-languages-container ul{
  margin-top: 20px;
}

.aboutme-languages-container ul li{
  margin-bottom: 5px;
}


@media screen and (max-width: 800px) {
  .aboutme-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .aboutme-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

.lighter-bold-word {
  color: #9fe8fe;
}

/* CONTACTS */

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

.contacts-row{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.contacts-row img{
  width: 40px;
}

.contacts-row p{
  font-size: 22px;
}

.linkedin-link a:link,
.linkedin-link a:visited {
  color: #51b3d1;
  text-decoration: none;
}

/*  PROJECTS  */

.projects-filters ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  gap: 10px;
  font-size: 22px;
}

.projects-filters a {
  text-decoration: none;
  color: #51b3d1b5;
  margin: 10px;
}

.projects-filters a:hover {
  color: var(--primary);
}

.projects-filters-active a{
  font-weight: bold;
  /* font-size: larger; */
  color: #51b3d1;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 70px;
}



.project {
  position: relative;
}

.project-img {
  height: 230px;
  width: 350px;
  object-fit: cover;
  border-radius: 25px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 11px 15px 0 rgba(0,0,0,0.24);
}

.project-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: var(--light);
  text-align: center;
  font-size: 22px;
  transition: opacity 0.3s ease-in-out;
  width: 80%;
}

.project:hover .project-text {
  opacity: 1;
}

.project:hover .project-img {
  opacity: 0.2;
  transform: scale(1.05);
  box-shadow: 0 17px 50px 0 rgba(0,0,0,0.19);
}



.projects-container img {
  height: 230px;
  width: 350px;
  object-fit: cover;
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-filters ul {
    justify-content: center;
  }
}

/* PROJECT DESCRIPTIONS */

#project-descriptions-main {
  margin-top: 60px;
}



.more-projects button {
  margin-top: 130px;
  margin-left: 70px;
  text-decoration: none;
}

.more-projects a:link,
.more-projects a:visited {
  color: #51b3d1;
  text-decoration: none;
}

.project-desc-img {
  width: 600px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.programming-language{
  display: flex;
  gap: 20px;
  width: 80px;
  height: 80px;
  margin-left: 50px;
  margin-bottom: 90px;
}

@media only screen and (max-width: 700px) {
  .programming-language{
    justify-content: center;
    margin: auto;
    margin-bottom: 90px;
  }
}



.project-header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.project-header {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 79%;

}

@media only screen and (max-width: 1200px) {
  .project-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .more-projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-title-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.more-projects-header {
  display: flex;
  width: 30vw;
  flex-direction: row;
  justify-content: start;

}

.more-projects-header button {
  text-decoration: none;
  min-width: 240px;
}

.project-title-header {
  display: flex;
  flex-direction: row;
  width: 35vw;
  justify-content: center;
  text-align: center;
}

.more-projects-header a:link,
.more-projects-header a:visited {
  color: #51b3d1;
  text-decoration: none;
}

.programming-language-header{
  display: flex;
  flex-direction: row;
  width: 30vw;
  justify-content: flex-end;
  gap: 20px;
  
}

.programming-language-header img {
  width: 80px;
  height: 80px;
}

.project-header-line-essence {
  border-top: 4px solid rgb(81, 179, 209);
  width: 80%;
}

.project-header-line-essence-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;;
}



/* --- PROJECT DESCRIPTIONS PERSONALIZED */

/* --- PROJECT DESCRIPTIONS - LUNAR-LANDER-GAME --- */

.lunar-lander-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lunar-lander-intro p{
  width: 920px;
}

.lunar-lander-img1 {
  height: 60vh;
  border-radius: var(--global-img-border-radius);
  margin-top: 20px;
}

.lunar-lander-img2 {
  width: 90vw;
  max-width: 450px;
  border-radius: var(--global-img-border-radius);
}

.lunar-lander-img3 {
  width: 90vw;
  max-width: 900px;
  border-radius: var(--global-img-border-radius);
}

.lunar-lander-part1{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.lunar-lander-part1 p{
  margin-top: 5px;
  margin-bottom: 20px;
}

.lunar-lander-part3{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}

.lunar-lander-img4 {
  height: 60vh;
  border-radius: var(--global-img-border-radius);
  margin-top: 20px;
  margin-bottom: 100px;
}

.lunar-lander-part2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.lunar-lander-part1-calculation-text{
  width: 750px;
  text-align: center;
}

.lunar-lander-text2 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* --- PROJECT DESCRIPTIONS - BSTJKP-GAME --- */

.bstjkp-content img {
  border-radius: var(--global-img-border-radius);
}

.bstjkp-img-play img{
  height: 50vh;
}

.bstjkp-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bstjkp-intro p {
  width: 1000px;
}

.bstjkp-planning-img {
  width: 650px;
}

.bstjkp-part1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bstjkp-part1 button{
  transition: transform 0.3s ease-in-out;
}

.bstjkp-img-planning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.bstjkp-img-trailer1 {
  width: 90vw;
  max-width: 500px;
  
}

.bstjkp-img-trailer2 {
  width: 90vw;
  max-width: 500px;
}

.bstjkp-trailer-before-after-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}

.bstjkp-trailer-before-after-container img{
  border-radius: var(--global-img-border-radius);
}

.bstjkp-trailer-before-after-container p {
  max-width: 500px;
}

.bstjkp-trailer-before-container {
  display:flex;
  flex-direction: column;
  text-align: center;
}

.bstjkp-trailer-after-container {
  display:flex;
  flex-direction: column;
  text-align: center;
}

.bstjkp-img-trailer3 {
  width: 90vw;
  max-width: 500px;
}

.bstjkp-trailer-final {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.bstjkp-trailer-final p{
  max-width: 500px;
}

.bstjkp-trailer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bstjkp-trailer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.bstjkp-trailer-text p {
  width: 1000px;
}

.bstjkp-content h2{
  margin-top: 120px;
  margin-bottom: 50px;
}

.bstjkp-content h3{
  margin-bottom: 20px;
}

.bstjkp-trailer-container img{
  margin-bottom: 15px;
  border-radius: var(--global-img-border-radius);
}

.bstjkp-part1 img {
  margin-top: 20px;
}

/* --- PROJECT DESCRIPTIONS - MAGAZINE --- */

.magazine-part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.magazine-part2 {
  display: flex;
  f